* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 900px;
  margin: 10px auto;
}

.container {
  width: 500px;
  height: 500px;
  border: 1px solid gray;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}